.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#header {
  flex-grow: 1;
  flex: 0 0 2em;
}
#main {
  flex-grow: 4;
  display: flex;
  overflow: hidden;
}

#listPanel {
  flex: 0 0 30%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#topIceCream,
#otherIceCreams {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#otherIceCreams,
.dataList {
  overflow-y: auto;
}

#contentPanel {
  flex-grow: 8;
  padding-left: 2%;
  padding-right: 2%;
}
